<ion-view view-title="Memo">
  <ion-content class="padding main-content">

    <div class="list card" ng-repeat="memo in memos">
      <div class="item item-divider">{{memo.tm_title}} 
      <span class="memo-date">
        {{ memo.tm_datereg | date:'MM/dd/yyyy'}}
      </span>
      </div>
      <div class="item item-body">
        <div>
          <span>@{{memo.tm_ttm_id}}</span>
          {{memo.tm_message}}
        </div>
      </div>
    </div>

  </ion-content>

  <!--floating add icon-->
  <div class="float-button">
    <span class="height-fix">
      <a href="#/tab/memo/memo-add" class="content">
        <i class="ion-ios-compose-outline"> </i>
      </a>
    </span>
  </div>
 

</ion-view>


